<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<footer th:fragment="footer" class="footer">
		<div class="container">
			<h4><strong>Read more..</strong></h4>
			<ul>
				<li>
					<ul>
						<li><a th:href="@{http://www.thymeleaf.org/doc/tutorials/3.0/thymeleafspring.html}">Tutorial: Thymeleaf + Spring</a></li>
						<li><a th:href="@{http://docs.spring.io/spring-security/site/migrate/current/3-to-4/html5/migrate-3-to-4-xml.html}">Migrating from Spring Security 3.x to 4.x (XML Configuration)</a></li>
						<li><a th:href="@{http://www.thymeleaf.org/doc/articles/springsecurity.html}">Thymeleaf + Spring Security integration basics</a></li>
						<li><a th:href="@{http://docs.spring.io/spring-security/site/docs/current/guides/html5}">Spring Security Guides</a></li>
						<li><a th:href="@{http://docs.spring.io/spring-security/site/docs/current/guides/html5//form-javaconfig.html}">Creating a Custom Login Form</a></li>
						<li><a th:href="@{http://bulma.io}">Bulma</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>